body {
    display: flex;
    justify-content: center;
}



.hidden {
    display: none;
}



ul {
    list-style: none;
}



.buttons {
    width: 70px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
}