/* START: Task 1 Styles */


table {
    border: black 1px solid;
    margin: auto;
}

td {
    border: 1px solid black;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: white;
}




.activeFirst td {
    background-color: blue;
}

tr .active {
    background-color: yellow;
}

/*tr td.activeGreen {
    background-color: green;
}*/

.grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }



/* END: Task 1 Styles */

/* START: Task 2 Styles */

/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* END: Task 3 Styles */
