// Write your styles here

@mixin btnConfig {
    align-self: center;
    justify-content: center;
    padding: 12px 24px; 
    border-radius: 4px;
    border: 1px transparent;
}

@mixin linksConfig {
    color: map-get($colors, linksColor);

    &:hover {
        color: map-get($colors, subText);
    }
}

body {
    margin: 0;
    background: map-get($colors, main);
    font-family: Fresca;
}

.section {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_text {
        font-size: 32px;
        z-index: 0;
        color: map-get($colors, mainText);

        &:after {
            content: "";
            background-color: map-get($colors, additionSecond);
            height: 30px;
            width: 131px;
            z-index: -1;
            display: block;
            margin-top: -36px;
            margin-left: 160px
        }
    }

    &_card {
        margin-bottom: 24px;
        display: flex;
        padding: 20px;
        background-color: map-get($colors, subMain);;
        justify-content: space-around;

        &_right_container {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &_heading {
            font-weight: 600;
            color: map-get($colors, linksColor);;
        }

        &_text {
            width: 80%;
            color: map-get($colors, subText);;
            font-weight: 300;
        }
    }

    &_link {
        @include linksConfig();
    }

    &_banner {
        width: 100%;
        background: linear-gradient(to right, map-get($colors, additionFirst), map-get($colors, additionSecond));
        display: flex;
        justify-content: space-around;

        &_heading {
            color: map-get($colors, mainText);
            font-size: 24px;

            &:after {
                content: "";
                background-color: map-get($colors, additionSecond);
                height: 24px;
                width: 51px;
                z-index: -1;
                display: block;
                margin-top: -24px;
                margin-left: 87px;
            }
        }

        &_button {
            @include btnConfig();
            background-color: map-get($colors, additionFirst);
            color: map-get($colors, linksColor);

            &:hover {
                cursor: pointer;
                background-color: map-get($colors, additionFirstHover);
            }
        }

        &_text {
            color: map-get($colors, subText);
        }
    }
}

.header {
    background-image: url($hImg);
    height: 500px;
    background-position: bottom;
    background-size: cover;
    border-radius: 0 0 30% 0;

    &-wrap {
        margin-left: 10%;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & div:last-child {
            display: flex;
            justify-content: space-between;
        }
    }

    &_heading {
        font-size: 32px;
        font-weight: 600;
        width: 40%;
        z-index: 0;
        margin: 0;
        color: map-get($colors, mainText);
        
        &::after {
            content: "";
            background-color: map-get($colors, additionSecond);
            height: 20px;
            width: 124px;
            z-index: -1;
            display: block;
            margin-top: -26px;
        }
    }

    &_text {
        font-size: 14px;
        margin: 0;
        color: map-get($colors, subText);
        margin: -40px 0;
    }

    &_button {
        background-color: map-get($colors, additionFirst);
        color: map-get($colors, linksColor);
        @include btnConfig();    
        
        &:hover {
            cursor: pointer;
            background-color: map-get($colors, additionFirstHover);
        }
    }

    & .login {
        @include linksConfig();
    }
}

.landing-logo {
    display: flex;

    & p {
        @extend .landing-logo;
        text-align: center;
        flex-direction: column;
        font-size: 24px;
        color: map-get($colors, mainText);

        & span {
            font-size: 12px;
        }
    }

    & img {
        width: 15%;
        height: 80%;
        align-self: center;
    }
}

.footer {
    background-color: map-get($colors, subMain);
    margin-top: -24px;
    color: map-get($colors, subText);

    &-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    &_logo {
        width: 20%;

        & p {
            color: map-get($colors, footerLogo)
        }
    }
}