$hImg: "../img/m-h-day.jpg";

$colors: (
    main: white,
    mainText: black,
    subText: #D0D0CE,
    subMain: rgb(30, 45,45),
    additionFirst: rgb(33, 158, 33),
    additionFirstHover: rgb(20, 100, 20),
    additionSecond: #4997cf,
    linksColor: white,
    linksHover: #D0D0CE,
    footerLogo: #D0D0CE
);