$contentBackground : darkgrey;
$hImg: "../img/m-h-night.jpg";
$hBlock: orange;
$btnColor: yellow;
$btnTextColor: white;
$loginColor: white;
$mainTextColorHeader: white;
$mainTextColor: #D0D0CE;
$linkColor: #D0D0CE;
$bannerText: black;
$cardColor: rgb(68, 61, 51);