$contentBackground : white;
$hImg: "../img/m-h-day.jpg";
$hBlock: #4997cf;
$btnColor: rgb(33, 158, 33);
$btnTextColor: white;
$loginColor: white;
$mainTextColorHeader: white;
$mainTextColor: #D0D0CE;
$linkColor: #D0D0CE;
$bannerText: black;
$cardColor: rgb(68, 61, 51);