@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000320}}
body {
  margin: 0;
  background: white;
  font-family: Fresca; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000326}}
.section {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000333}}
  .section_text {
    font-size: 32px;
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000337}}
    .section_text:after {
      content: "";
      background-color: #4997cf;
      height: 4%;
      width: 8%;
      position: absolute;
      left: 50.6%;
      top: 107%;
      z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000349}}
  .section_card {
    margin-bottom: 24px;
    display: flex;
    padding: 20px;
    background-color: #443d33;
    justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000356}}
    .section_card_right_container {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000364}}
    .section_card_heading {
      font-weight: 600;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000369}}
    .section_card_text {
      width: 80%;
      color: #D0D0CE;
      font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000376}}
  .section_link {
    color: #D0D0CE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000315}}
    .section_link:hover {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000380}}
  .section_banner {
    width: 100%;
    background: linear-gradient(to right, #219e21, #4997cf);
    display: flex;
    justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000386}}
    .section_banner_heading {
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000390}}
    .section_banner_button {
      align-self: center;
      justify-content: center;
      padding: 12px 24px;
      border-radius: 4px;
      border: 1px transparent;
      background-color: #219e21;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000395}}
      .section_banner_button:hover {
        cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003100}}
    .section_banner_text {
      color: #D0D0CE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003106}}
.header {
  background-image: url("../img/m-h-day.jpg");
  height: 500px;
  background-position: bottom;
  background-size: cover;
  border-radius: 0 0 30% 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003113}}
  .header-wrap {
    margin-left: 10%;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003121}}
    .header-wrap div:last-child {
      display: flex;
      justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003127}}
  .header_heading {
    font-size: 32px;
    font-weight: 600;
    width: 40%;
    z-index: 0;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003134}}
    .header_heading::after {
      content: "";
      background-color: #4997cf;
      height: 4%;
      width: 7.7%;
      position: absolute;
      left: 9.8%;
      top: 50.4%;
      z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003146}}
  .header_text {
    font-size: 14px;
    margin: 0;
    color: darkgrey;
    margin: -40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003153}}
  .header_button {
    background-color: #219e21;
    color: white;
    align-self: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003158}}
    .header_button:hover {
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003163}}
  .header .login {
    color: #D0D0CE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\0000315}}
    .header .login:hover {
      color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003168}}
.landing-logo, .landing-logo p {
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003171}}
  .landing-logo p {
    text-align: center;
    flex-direction: column;
    font-size: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003177}}
    .landing-logo p span {
      font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003182}}
  .landing-logo img {
    width: 15%;
    height: 80%;
    align-self: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003189}}
.footer {
  background-color: #443d33;
  margin-top: -24px;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003194}}
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/oleksandr\.kuznetsov\/Programming\/fl-17\/FL17_HW11\/homework\/scss\/_main\.scss}line{font-family:\00003200}}
  .footer_logo {
    width: 20%; }
