/* Write your styles here */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.main {
  margin: 24px auto;
  background-color: #1f1f21;
  width: 30%;
  padding: 2%;
}
#display {
  width: 93%;
  padding: 5px 24px;
  margin-bottom: 24px;
  font-size: 55px;
  color: black;
  background-color: #fff;
  text-align: right;
  border: 1px solid black;
  outline: none;
}
.clear {
  background-color: red;
  color: #fff;
}
input {
  background-color: #333;
  color: #fff;
  margin-top: 5px;
  font-size: 25px;
  width: 95px;
  height: 95px;
  border-radius: 40px;
  border-width: 0;
  transition: all 0.8s;
}
input:active {
  background-color: aqua;
}
.finnalresult {
  background-color: #001010;
}

#logs {
  width: 30%;
  height: 400px;
  margin: auto;
  overflow: auto;
}

.dot {
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  border-color: red;
}

.close {
  margin-right: 16px;
}

.close:hover {
  color: red;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.red {
  color: red !important;
}
